<div class="row">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading text-right">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span>
					</button>
					<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span>
					</button>
				</div>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
	<div class="col-lg-9">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				Editeur de personnages
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12 text-left">
						<form role="form">
							<div class="form-group">
								<label for="tileName">Nom du personnage</label>
								<input type="text" class="form-control" id="characterName" placeholder="Entrez le nom">
							</div>
							<div class="form-group">
								<label for="tileName">Type Unité</label>
								<select name="" id="" class="form-control" placeholder="unité"></select>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 text-center">
						<form role="form">
							<div class="form-group">
								<label>Image de dialogue</label>
								<img src="http://img1.wikia.nocookie.net/__cb20101017161920/dofus/images/5/50/Wiki-background" class="img-thumbnail">
							</div>
							<div class="form-group">
								<uploader></uploader>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-center">
					<form role="form">
						<div class="form-group">
							<label>Nom de la position</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<img src="http://img1.wikia.nocookie.net/__cb20101017161920/dofus/images/5/50/Wiki-background" class="img-thumbnail">
						</div>
						<div class="form-group">
							<uploader></uploader>
						</div>
					</form>
				</div>
				<div class="col-sm-3 text-center">
					<form role="form">
						<div class="form-group">
							<label>Nom de la position</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<img src="http://img1.wikia.nocookie.net/__cb20101017161920/dofus/images/5/50/Wiki-background" class="img-thumbnail">
						</div>
						<div class="form-group">
							<uploader></uploader>
						</div>
					</form>
				</div>
				<div class="col-sm-3 text-center">
					<form role="form">
						<div class="form-group">
							<label>Nom de la position</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<img src="http://img1.wikia.nocookie.net/__cb20101017161920/dofus/images/5/50/Wiki-background" class="img-thumbnail">
						</div>
						<div class="form-group">
							<uploader></uploader>
						</div>
					</form>
				</div>
				<div class="col-sm-3 text-center">
					<form role="form">
						<div class="form-group">
							<label>Nom de la position</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<img src="http://img1.wikia.nocookie.net/__cb20101017161920/dofus/images/5/50/Wiki-background" class="img-thumbnail">
						</div>
						<div class="form-group">
							<uploader></uploader>
						</div>
					</form>
				</div>
				<div class="col-sm-3 text-center">
					<form role="form">
						<div class="form-group">
							<label>Nom de la position</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<img src="http://img1.wikia.nocookie.net/__cb20101017161920/dofus/images/5/50/Wiki-background" class="img-thumbnail">
						</div>
						<div class="form-group">
							<uploader></uploader>
						</div>
					</form>
				</div>
				<div class="col-sm-3 text-center">
					<form role="form">
						<div class="form-group">
							<label>Nom de la position</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<img src="http://img1.wikia.nocookie.net/__cb20101017161920/dofus/images/5/50/Wiki-background" class="img-thumbnail">
						</div>
						<div class="form-group">
							<uploader></uploader>
						</div>
					</form>
				</div>
				<div class="col-sm-3 text-center">
					<form role="form">
						<div class="form-group">
							<label>Nom de la position</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<img src="http://img1.wikia.nocookie.net/__cb20101017161920/dofus/images/5/50/Wiki-background" class="img-thumbnail">
						</div>
						<div class="form-group">
							<uploader></uploader>
						</div>
					</form>
				</div>
				<div class="col-sm-3 text-center">
					<form role="form">
						<div class="form-group">
							<label>Nom de la position</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<img src="http://img1.wikia.nocookie.net/__cb20101017161920/dofus/images/5/50/Wiki-background" class="img-thumbnail">
						</div>
						<div class="form-group">
							<uploader></uploader>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>
</div>